<header>
  @if (breakpoint() !== "mobile") {
    <tui-breadcrumbs>
      <a *tuiItem tuiLink routerLink="cosmetics/category">Разделы косметики</a>
      <a *tuiItem tuiLink [routerLink]="['cosmetics/category', id()]">
        {{ categoryName() }}
      </a>
    </tui-breadcrumbs>
  } @else {
    <a
      iconStart="@tui.chevron-left"
      tuiButton
      tuiSlot="left"
      type="button"
      appearance="outline-grayscale"
      size="m"
      routerLink="/cosmetic/category"
    >
      Назад
    </a>
  }
</header>
<main class="app-cosmetic-category">
  <app-callout [heading]="categoryName()" description="" />
  <div role="list" class="app-cosmetic-category__item-list">
    @for (item of items; track item.id) {
      <app-cosmetics-item-card
        [routerLink]="['/cosmetic', item.id]"
        appearance="floating"
        [data]="item"
      />
    }
  </div>
</main>
<footer>
  ДОБАВИТЬ СЮДА ОПИСАНИЕ КАТЕГОРИЙ ДОБАВИТЬ СЮДА ОПИСАНИЕ КАТЕГОРИЙ ДОБАВИТЬ
  СЮДА ОПИСАНИЕ КАТЕГОРИЙ ДОБАВИТЬ СЮДА ОПИСАНИЕ КАТЕГОРИЙ
</footer>
