<header>
  <tui-breadcrumbs>
    @for (item of breadcrumbs; track item.title) {
      <a *tuiItem tuiLink [routerLink]="item.routerLink"> {{ item.title }} </a>
    }
    <a *tuiItem tuiLink [routerLink]="['cosmetics/category', id()]">
      {{ categoryName() }}
    </a>
  </tui-breadcrumbs>
</header>
<main class="app-cosmetic-category">
  <app-callout [heading]="categoryName()" description="" />
  <div role="list" class="app-cosmetic-category__item-list">
    @for (item of items; track item.id) {
      <app-cosmetics-item-card
        [routerLink]="['/cosmetic', item.id]"
        appearance="floating"
        [data]="item"
      />
    }
  </div>
</main>
<footer>
  ДОБАВИТЬ СЮДА ОПИСАНИЕ КАТЕГОРИЙ ДОБАВИТЬ СЮДА ОПИСАНИЕ КАТЕГОРИЙ ДОБАВИТЬ
  СЮДА ОПИСАНИЕ КАТЕГОРИЙ ДОБАВИТЬ СЮДА ОПИСАНИЕ КАТЕГОРИЙ
</footer>
