<header class="app-header">
  <div class="app-header__row">
    <app-header-logo class="app-header__logo" />

    <app-header-navigation class="app-header__navigation" />

    <button
      tuiIconButton
      appearance="icon"
      iconStart="@tui.globe"
      size="m"
      type="button"
      tuiDropdownRole="menu"
      tuiDropdownSheet="Выберите язык"
      i18n-tuiDropdownSheet
      tuiDropdownAlign="end"
      (click)="langDropdownOpen.update((open) => !open)"
      [tuiDropdown]="dropdownContentLang"
      [style.margin-left]="'auto'"
      [tuiDropdownManual]="langDropdownOpen()"
      (tuiActiveZoneChange)="!isMobile && langDropdownOpen.set(false)"
      [attr.aria-expanded]="langDropdownOpen()"
    >
      <span i18n>Язык</span>
    </button>
    <ng-template #dropdownContentLang>
      <sheet-spy (destroyed)="langDropdownOpen.set(false)" />
      <tui-data-list>
        @for (language of languages; track language.code) {
          <a
            tuiOption
            [tuiAppearance]="
              isCurrentLanguage(language.code) ? 'secondary' : ''
            "
            [href]="getLanguagePath(language.code)"
            (click)="langDropdownOpen.set(false)"
          >
            <img
              [src]="language.flag | tuiFlag"
              [style.border-radius.%]="50"
              [style.width.rem]="1.5"
              [style.height.rem]="1.5"
            />
            <span tuiTitle>{{ language.name }}</span>
          </a>
        }
      </tui-data-list>
    </ng-template>

    @if (currentUserResource.value(); as currentUser) {
      <button
        type="button"
        [tuiAvatar]="`${currentUser.name} ${currentUser.surname}` | tuiInitials"
        tuiDropdownRole="menu"
        tuiDropdownSheet="Меню"
        i18n-tuiDropdownSheet
        tuiDropdownAlign="end"
        [tuiDropdown]="dropdownContent"
        [tuiDropdownManual]="userDropdownOpen()"
        (click)="userDropdownOpen.update((open) => !open)"
        (tuiActiveZoneChange)="!isMobile && userDropdownOpen.set(false)"
        [attr.aria-expanded]="userDropdownOpen()"
      ></button>
      <ng-template #dropdownContent>
        <sheet-spy (destroyed)="userDropdownOpen.set(false)" />
        <tui-data-list>
          <button
            type="button"
            tuiOption
            iconStart="@tui.user"
            (click)="userDropdownOpen.set(false)"
          >
            <span tuiTitle>
              <span
                [style.display]="'flex'"
                [style.gap.rem]="0.25"
                [style.justify-items]="'center'"
              >
                {{ `${currentUser.name} ${currentUser.surname}` }}
                <app-user-role-badge
                  [role]="currentUser.role"
                  [style.margin-top.rem]="-0.125"
                />
              </span>
              <span tuiSubtitle tuiFade>
                {{ currentUser.email }}
              </span>
            </span>
          </button>
          <hr />
          <button
            tuiOption
            type="button"
            iconStart="@tui.log-out"
            (click)="logoutService.logout(); userDropdownOpen.set(false)"
          >
            <span tuiTitle i18n>Выйти</span>
          </button>
        </tui-data-list>
      </ng-template>
    } @else {
      <a
        tuiIconButton
        appearance="icon"
        size="m"
        iconStart="@tui.log-in"
        routerLink="login"
      >
        <span i18n>Войти</span>
      </a>
    }

    <app-header-drawer class="app-header__drawer" />
  </div>
  <div class="app-header__row">
    <router-outlet name="subHeader" />
  </div>
</header>
