@import "@taiga-ui/styles/utils.less";

:host {
  z-index: var(--app-header-z-index);
  position: sticky;
  top: 0;
}

.app-header {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: var(--tui-background-base);
  border-bottom: 1px solid var(--tui-border-normal);
  box-sizing: border-box;

  &__row {
    width: 100%;
    height: 100%;
    margin: auto;
    max-width: var(--app-max-width);

    &:first-child {
      height: 3.75rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:last-child {
      display: block;
    }
  }

  &__navigation {
    margin-inline: 1.75rem auto;
  }

  &__drawer,
  &__navigation {
    display: none;
  }

  [tuiAvatar] {
    margin-left: 0.25rem;
  }

  @media @tui-mobile {
    &__logo {
      margin-inline-end: auto;
    }

    &__drawer {
      display: block;
    }

    [tuiAvatar] {
      margin-left: 0.125rem;
      margin-right: 0.125rem;
    }
  }

  @media not @tui-mobile {
    &__navigation {
      display: block;
    }
  }
}
