:host {
  z-index: var(--app-header-z-index);
  position: sticky;
  top: 0;
}

.app-header {
  background-color: var(--tui-background-base);
  border-bottom: 1px solid var(--tui-border-normal);
  align-self: flex-start;

  &__wrapper {
    padding: 0.75rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--app-max-width);
    margin: auto;
  }

  &__logo {
    display: flex;
    user-select: none;
    text-decoration: none;

    &__img {
      width: 44px;
      height: 44px;
    }
  }
}
