<header class="app-header">
  <div class="app-header__row">
    <app-header-logo class="app-header__logo" />

    <app-header-navigation class="app-header__navigation" />

    @if (!isServer()) {
      @if (currentUserResource.value(); as currentUser) {
        <button
          type="button"
          tuiAvatar="@tui.user"
          tuiDropdownRole="menu"
          tuiDropdownSheet="Меню"
          tuiDropdownAlign="end"
          [tuiDropdown]="dropdownContent"
          [tuiDropdownManual]="userDropdownOpen()"
          (click)="userDropdownOpen.update(open => !open)"
          (tuiActiveZoneChange)="!isMobile && userDropdownOpen.set(false)"
          [attr.aria-expanded]="userDropdownOpen()"
        ></button>
        <ng-template #dropdownContent>
          <sheet-spy (destroyed)="userDropdownOpen.set(false)" />
          <tui-data-list>
            <button
              type="button"
              tuiOption
              [iconStart]="
                currentUser.role === 0 ? '@tui.user' : '@tui.shield-user'
              "
              (click)="userDropdownOpen.set(false)"
            >
              <span tuiTitle>
                <span
                  [style.display]="'flex'"
                  [style.gap.rem]="0.25"
                  [style.justify-items]="'center'"
                >
                  {{ `${currentUser.name} ${currentUser.surname}` }}
                  <app-user-role-badge
                    [role]="currentUser.role"
                    [style.margin-top.rem]="-0.125"
                  />
                </span>
                <span tuiSubtitle tuiFade>
                  {{ currentUser.email }}
                </span>
              </span>
            </button>
            <hr />
            <button
              tuiOption
              type="button"
              iconStart="@tui.log-out"
              (click)="logoutService.logout(); userDropdownOpen.set(false)"
            >
              <span tuiTitle>Выйти</span>
            </button>
          </tui-data-list>
        </ng-template>
      } @else if (!currentUserResource.isLoading()) {
        <app-header-navigation-item
          [style.margin-left]="'auto'"
          [item]="{ label: 'Личный кабинет', routerLink: 'login' }"
        />
      }
    }

    <app-header-drawer class="app-header__drawer" />
  </div>
  <div class="app-header__row">
    <router-outlet name="subHeader" />
  </div>
</header>
