:host {
  display: block;
}

.content {
  display: flex;
  padding: 1rem;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.left {
  flex-shrink: 0;
}

:host ::ng-deep .active-link {
  background: var(--tui-primary-bg-hover);
  color: var(--tui-primary);
}
