<form tuiForm="l" [formGroup]="form.group" (submit)="form.next()">
  <tui-notification
    [appearance]="count < leechBuyMinCount ? 'warning' : 'positive'"
  >
    Минимальное количество пиявок в заказе —
    <strong>{{ leechBuyMinCount }}</strong> шт.
  </tui-notification>

  <tui-textfield [tuiTextfieldCleaner]="false">
    <label tuiLabel>Количество малых пиявок</label>
    <input
      postfix=" шт."
      tuiInputNumber
      [max]="100"
      [min]="0"
      [step]="1"
      formControlName="small"
    />
  </tui-textfield>

  <tui-textfield [tuiTextfieldCleaner]="false">
    <label tuiLabel>Количество средних пиявок</label>
    <input
      postfix=" шт."
      tuiInputNumber
      [max]="100"
      [min]="0"
      [step]="1"
      formControlName="medium"
    />
  </tui-textfield>

  <tui-textfield [tuiTextfieldCleaner]="false">
    <label tuiLabel>Количество крупных пиявок</label>
    <input
      postfix=" шт."
      tuiInputNumber
      [max]="100"
      [min]="0"
      [step]="1"
      formControlName="large"
    />
  </tui-textfield>

  <hr />

  <div>
    <p
      tuiAppearance="action-grayscale"
      class="tui-space_top-0 tui-space_bottom-0"
    >
      Итого: <strong tuiAppearance="flat-grayscale">{{ count }}</strong> шт.
    </p>
  </div>
</form>
