.app-footer {
  background-color: var(--tui-background-base);
  border-top: 1px solid var(--tui-border-normal);

  &__sections {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: var(--app-max-width);
    margin: auto;
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__section-title {
    font-weight: bold;
    margin: 0;
  }

  &__item-list {
    padding: 0;
    list-style: none;
  }
}
