:host {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  margin-block: 4rem;
}

.cosmetic-category__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
  row-gap: 4rem;
}
