<header>
  @if (breakpoint() !== "mobile") {
    <tui-breadcrumbs>
      <a *tuiItem tuiLink routerLink="/cosmetics" i18n>Разделы косметики</a>
      <a
        *tuiItem
        tuiLink
        [routerLink]="['/cosmetics/categories', category().id]"
      >
        {{ category().id }}
      </a>
      <a *tuiItem tuiLink [routerLink]="['/cosmetics', category().id]">
        {{ category().name }}
      </a>
    </tui-breadcrumbs>
  } @else {
    <a
      iconStart="@tui.chevron-left"
      tuiButton
      tuiSlot="left"
      type="button"
      appearance="outline-grayscale"
      size="m"
      [routerLink]="['/cosmetics/categories', category().id]"
    >
      <span i18n>Назад</span>
    </a>
  }
</header>
<main class="app-cosmetic-item-content">
  @if (breakpoint() !== "mobile") {
    <div class="app-cosmetic-item-content__img-container">
      <img [src]="category().image_id" [alt]="category().name" />
    </div>
    <div class="app-cosmetic-item-content__info">
      <h1 class="tui-text_h4">
        {{ category().name }}
      </h1>
      <app-cosmetic-item-shops />
    </div>
  } @else {
    <h1 class="tui-text_h4">{{ category().name }}</h1>
    <div class="app-cosmetic-item-content__img-container">
      <img [src]="category().image_id" [alt]="category().name" />
    </div>
    <app-cosmetic-item-shops />
  }
</main>
