<header tuiHeader="h4">
  <h1 tuiTitle>Пользователи</h1>
</header>

<search tuiSearch>
  <form [formGroup]="form">
    <fieldset tuiTextfieldSize="m">
      <tui-textfield iconStart="@tui.search">
        <input formControlName="q" placeholder="Поиск" tuiInput />
      </tui-textfield>
      <tui-textfield
        tuiChevron
        tuiDropdownSheet="Выберите роль"
        [tuiTextfieldCleaner]="false"
      >
        <input formControlName="role" placeholder="Роль" tuiSelect />
        <tui-data-list-wrapper *tuiDropdown [items]="items" />
      </tui-textfield>
    </fieldset>
  </form>
</search>

<tui-loader [loading]="usersResource.isLoading()" [overlay]="true">
  <div tuiCardLarge="compact" appearance="outline">
    @for (user of users(); track user.id) {
      <button type="button" (click)="editUser(user)" tuiCell>
        <div
          [appearance]="user.role === 0 ? '' : 'primary'"
          [tuiAvatar]="user.role === 0 ? '@tui.user' : '@tui.shield-user'"
          size="m"
          [tuiHint]="user.role === 0 ? 'Пользователь' : 'Админ'"
          tuiHintDirection="bottom"
          tuiHintAppearance="floating"
        ></div>
        <div tuiTitle tuiFade>
          {{ `${user.name} ${user.surname}` }}
          <span tuiSubtitle>{{ user.email }}</span>
        </div>

        <div tuiSubtitle>
          <tui-icon icon="@tui.chevron-right" />
        </div>
      </button>
    } @empty {
      @if (loaded()) {
        <tui-block-status size="m">
          <div tuiAvatar="@tui.user-x" tuiSlot="top"></div>

          <h4>Пользователи не найдены</h4>

          Попробуйте изменить фильтры

          <button
            appearance="secondary"
            tuiButton
            type="button"
            size="s"
            (click)="resetFilters()"
          >
            Сбросить фильтры
          </button>
        </tui-block-status>
      }
    }
    @if (users().length) {
      <footer>
        <tui-table-pagination
          [page]="usersResource.params.offset() / usersResource.params.limit()"
          [size]="usersResource.params.limit()"
          [total]="10"
          [items]="[5, 10, 15, 30]"
          (paginationChange)="handlePagination($event)"
        />
      </footer>
    }
  </div>
</tui-loader>
