<header tuiHeader="h4">
  <h1 tuiTitle i18n>Пользователи</h1>
</header>

<search tuiSearch>
  <form [formGroup]="form">
    <fieldset tuiTextfieldSize="m">
      <tui-textfield iconStart="@tui.search">
        <input
          formControlName="q"
          placeholder="Поиск"
          i18n-placeholder
          tuiInput
        />
      </tui-textfield>
      <tui-textfield
        tuiChevron
        [stringify]="stringifyRole"
        tuiDropdownSheet="Выберите роль"
        i18n-tuiDropdownSheet
      >
        <input
          formControlName="role"
          placeholder="Роль"
          i18n-placeholder
          tuiSelect
        />
        <tui-data-list-wrapper
          *tuiDropdown
          [itemContent]="stringifyRole | tuiStringifyContent"
          [items]="roles"
        />
      </tui-textfield>
    </fieldset>
  </form>
</search>

<tui-loader [loading]="usersResource.isLoading()" [overlay]="true">
  <div tuiCardLarge="compact" appearance="outline">
    @for (user of users().items; track user.id) {
      <button type="button" (click)="editUser(user)" tuiCell>
        <div
          [tuiAvatar]="`${user.name} ${user.surname}` | tuiInitials"
          size="m"
        ></div>
        <div tuiTitle tuiFade>
          {{ `${user.name} ${user.surname}` }}
          <span tuiSubtitle>{{ user.email }}</span>
        </div>
        <app-user-role-badge [role]="user.role" />
      </button>
    } @empty {
      @if (loaded()) {
        <tui-block-status size="m">
          <div tuiAvatar="@tui.user-x" tuiSlot="top"></div>

          <h4 i18n>Нет результатов</h4>

          <span i18n>Попробуйте изменить фильтры</span>

          <button
            appearance="secondary"
            tuiButton
            type="button"
            size="s"
            (click)="resetFilters()"
          >
            <span i18n>Сбросить фильтры</span>
          </button>
        </tui-block-status>
      }
    }
    @if (users().items.length) {
      <footer>
        <tui-table-pagination
          [page]="usersResource.params.offset() / usersResource.params.limit()"
          [size]="usersResource.params.limit()"
          [total]="users().pagination.total_items"
          [items]="[5, 10, 15, 30]"
          (paginationChange)="handlePagination($event)"
        />
      </footer>
    }
  </div>
</tui-loader>
