@if (breakpoint() === "mobile") {
  <tui-app-bar>
    @if (steps[index()].control) {
      <button
        tuiAppBarBack
        tuiSlot="start"
        type="button"
        appearance="action"
        (click)="steps[index()].back()"
        i18n
      >
        Назад
      </button>
    }
    <span i18n>Оформление заказа</span>
    @if (steps[index()].control) {
      <span tuiSlot="end" tuiAppearance="action" [style.margin-right.rem]="1">
        {{ index() + 1 }}/{{ steps.length - 1 }}
      </span>
    }
  </tui-app-bar>

  @if (steps[index()].control) {
    <header
      tuiHeader
      [style.margin-top.rem]="1.5"
      [style.margin-left.rem]="1"
      [style.margin-right.rem]="1"
    >
      <h1 tuiTitle>{{ steps[index()].title }}</h1>
    </header>
  }

  <div [style.margin.rem]="1">
    <ng-container *ngComponentOutlet="$any(steps[index()].component)" />
  </div>

  <footer>
    <tui-elastic-container>
      <button
        tuiButton
        size="m"
        type="submit"
        (click)="steps[index()].next()"
        [disabled]="steps[index()].control?.invalid"
      >
        <ng-container *ngTemplateOutlet="nextLabel" />
      </button>
      <p>
        {{ steps[index()].description }}
      </p>
    </tui-elastic-container>
  </footer>
} @else {
  <div tuiCardLarge appearance="floating">
    @if (steps[index()].control) {
      <tui-stepper [(activeItemIndex)]="index">
        @for (step of steps; track step.title) {
          @if (step.control) {
            <button
              tuiStep
              type="button"
              [disabled]="step.disabled"
              [stepState]="step.state"
            >
              {{ step.title }}
            </button>
          }
        }
      </tui-stepper>
    }

    @if (steps[index()].control) {
      <header tuiHeader [style.margin-top.rem]="1">
        <hgroup tuiTitle>
          <h1 tuiTitle>{{ steps[index()].title }}</h1>
          <p tuiSubtitle>{{ steps[index()].description }}</p>
        </hgroup>
      </header>
    }

    <ng-container *ngComponentOutlet="$any(steps[index()].component)" />

    <footer>
      @if (steps[index()].control) {
        <button
          tuiButton
          size="m"
          iconStart="@tui.chevron-left"
          appearance="secondary"
          type="button"
          (click)="steps[index()].back()"
          i18n
        >
          Назад
        </button>
      }
      <button
        tuiButton
        size="m"
        type="submit"
        [disabled]="steps[index()].control?.invalid"
        (click)="steps[index()].next()"
      >
        <ng-container *ngTemplateOutlet="nextLabel" />
      </button>
    </footer>

    @if (!steps[index()].control) {
      <p tuiSubtitle tuiAppearance="action-grayscale" align="center">
        {{ steps[index()].description }}
      </p>
    }
  </div>
}

<ng-template #nextLabel>
  @switch (index()) {
    @case (0) {
      <span i18n>
        {this.form.remains, plural,
          =0 {Далее}
          one {Необходима ещё {{this.form.remains}} пиявка}
          few {Необходимо ещё {{this.form.remains}} пиявки}
          other {Необходимо ещё {{this.form.remains}} пиявок}
        }
      </span>
    }
    @case (1) {
      <span i18n>Далее</span>
    }
    @case (2) {
      <span i18n>
        Оформить заказ на {{ this.form.price | tuiFormatNumber }} ₽
      </span>
    }
    @case (3) {
      <span i18n>Вернуться на главную</span>
    }
  }
</ng-template>
