<app-callout
  heading="Международный центр медицинской пиявки"
  description="Старейшее предприятии в России и в мире, которое более 80 лет занимается выращиванием сертифицированной медицинской пиявки"
  action="Оформить заказ"
  link="leech/buy"
/>

<section class="cards">
  @for (card of cards; track card.routerLink) {
    <app-home-page-card [card]="card" appearance="floating" />
  }
</section>

<app-home-page-quality />

<app-callout
  heading="Готовы сделать заказ?"
  description="Старейшее предприятии в России и в мире, которое более 80 лет занимается выращиванием сертифицированной медицинской пиявки"
  action="Оформить заказ"
  link="leech/buy"
/>
