@import "@taiga-ui/core/styles/taiga-ui-local.less";

:host {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  margin-block: 4rem;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  @media @tui-mobile {
    grid-template-columns: 1fr;
  }
}
