<app-callout
  heading="Международный центр медицинской пиявки"
  description="Старейшее предприятии в России и в мире, которое более 80 лет занимается выращиванием сертифицированной медицинской пиявки"
  action="Оформить заказ"
  routerLink="cosmetics/buy"
/>

<app-callout
  heading="Готовы сделать заказ?"
  description="Старейшее предприятии в России и в мире, которое более 80 лет занимается выращиванием сертифицированной медицинской пиявки"
  action="Оформить заказ"
  routerLink="cosmetics/buy"
/>
