<header>
  @if (breakpoint() !== "mobile") {
    <tui-breadcrumbs>
      <a *tuiItem tuiLink routerLink="/cosmetics" i18n>Разделы косметики</a>
      <strong *tuiItem>
        {{ categoryName() }}
      </strong>
    </tui-breadcrumbs>
  } @else {
    <a
      iconStart="@tui.chevron-left"
      tuiButton
      tuiSlot="left"
      type="button"
      appearance="outline-grayscale"
      size="m"
      routerLink="/cosmetics"
    >
      <span i18n>Назад</span>
    </a>
  }
</header>
<main class="app-cosmetic-category">
  <app-hero [heading]="categoryName()" description="" />
  <div role="list" class="app-cosmetic-category__item-list">
    @for (item of items; track item.id) {
      <app-cosmetics-item-card
        [routerLink]="['/cosmetics', item.id]"
        appearance="floating"
        [data]="item"
      />
    }
  </div>
</main>
<footer>
  <span i18n>ДОБАВИТЬ СЮДА ОПИСАНИЕ КАТЕГОРИЙ</span>
</footer>
