<header tuiHeader="h4">
  <h1 tuiTitle i18n>Категории</h1>
  <aside tuiAccessories>
    <button tuiButton type="button" (click)="create()">
      <span i18n>Создать</span>
    </button>
  </aside>
</header>

<tui-loader
  [loading]="
    categoriesResource.isLoading() &&
    categoriesResource.status() !== 'reloading'
  "
  [overlay]="true"
>
  @if (categoriesResource.placeholder().items.length) {
    <div class="categories-grid">
      @for (
        category of categoriesResource.placeholder().items;
        track category.id
      ) {
        <app-cosmetics-category-card
          [id]="category.id"
          [name]="category.name"
          [routerLink]="'/admin/cosmetics/categories/' + category.id"
          [imageId]="category.image_id"
        />
      }
    </div>
    <footer>
      <tui-table-pagination
        [page]="
          categoriesResource.params().offset / categoriesResource.params().limit
        "
        [size]="categoriesResource.params().limit"
        [total]="categoriesResource.placeholder().pagination.total_items"
        [items]="sizes"
        (paginationChange)="categoriesResource.paginate($event)"
      />
    </footer>
  } @else {
    @if (categoriesResource.loaded()) {
      <tui-block-status [card]="true" class="card" size="m">
        <div tuiAvatar="@tui.archive" tuiSlot="top"></div>

        <h4 i18n>Нет категорий</h4>

        <span i18n>Создайте первую категорию</span>

        <button
          appearance="secondary"
          tuiButton
          type="button"
          size="s"
          (click)="create()"
        >
          <span i18n>Создать категорию</span>
        </button></tui-block-status
      >
    }
  }
</tui-loader>
