@if (breakpoint() === "mobile") {
  <tui-app-bar>
    <button tuiAppBarBack tuiSlot="left" type="button" (click)="step.back()">
      {{ step.getBackLabel() }}
    </button>
    <span>Оформление заказа</span>
    <span tuiSlot="right" tuiAppearance="action" class="tui-space_right-4">
      {{ index() + 1 }}/{{ steps.length }}
    </span>
  </tui-app-bar>

  <header tuiHeader class="tui-space_top-6 tui-space_right-4 tui-space_left-4">
    <h1 tuiTitle>{{ step.title }}</h1>
  </header>

  <div
    class="tui-space_top-4 tui-space_bottom-4 tui-space_right-4 tui-space_left-4"
  >
    <ng-container *ngTemplateOutlet="stepsTemplate" />
  </div>

  <footer tuiFloatingContainer="transparent">
    <tui-elastic-container>
      <button
        tuiButton
        size="m"
        type="submit"
        (click)="step.next()"
        [disabled]="step.control.invalid"
      >
        {{ step.getNextLabel() }}
      </button>
      <span>
        {{ step.description }}
      </span>
    </tui-elastic-container>
  </footer>
} @else {
  <div tuiCardLarge tuiAppearance="floating">
    <tui-stepper [(activeItemIndex)]="index">
      @for (step of steps; track step.title) {
        <button
          tuiStep
          type="button"
          [disabled]="step.disabled?.()"
          [stepState]="step.state"
        >
          {{ step.title }}
        </button>
      }
    </tui-stepper>

    <header tuiHeader class="tui-space_top-4">
      <hgroup tuiTitle>
        <h1 tuiTitle>{{ step.title }}</h1>
        <p tuiSubtitle>{{ step.description }}</p>
      </hgroup>
    </header>

    <ng-container *ngTemplateOutlet="stepsTemplate" />

    <footer>
      <button
        tuiButton
        size="m"
        iconStart="@tui.chevron-left"
        appearance="secondary"
        type="button"
        (click)="step.back()"
      >
        {{ step.getBackLabel() }}
      </button>
      <button
        tuiButton
        size="m"
        type="submit"
        [disabled]="step.control.invalid"
        (click)="step.next()"
      >
        {{ step.getNextLabel() }}
      </button>
    </footer>
  </div>
}

<ng-template #stepsTemplate>
  <ng-container [ngSwitch]="index()">
    <app-leech-buy-form-steps-leech *ngSwitchCase="0" />
    <app-leech-buy-form-steps-package *ngSwitchCase="1" />
    <app-leech-buy-form-steps-contact *ngSwitchCase="2" />
  </ng-container>
</ng-template>
