@import "@taiga-ui/core/styles/taiga-ui-local.less";

:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

tui-app-bar {
  position: sticky;
  top: 0;
  z-index: 1;
  flex: unset;
  background: var(--tui-background-base);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--tui-border-normal);
  transition-property: background-color, border-color;
  transition-duration: var(--tui-duration);
  transition-timing-function: ease-in-out;
}

footer {
  display: flex;
  justify-content: space-between;
  text-wrap-style: pretty;

  @media @tui-mobile {
    padding-top: 0.75rem;
    padding-inline: 1rem;
    margin-top: auto;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: var(--tui-border-normal);
    background-color: var(--tui-background-base);

    &::before {
      margin-inline: 1rem;
    }
  }
}
