<header>
  @if (breakpoint() !== "mobile") {
    <tui-breadcrumbs>
      <a *tuiItem tuiLink routerLink="/cosmetics/category">Разделы косметики</a>
      <a *tuiItem tuiLink [routerLink]="['/cosmetics/category', categoryId()]">
        {{ data().features.category }}
      </a>
      <a *tuiItem tuiLink [routerLink]="['cosmetics/', data().id]">
        {{ data().name }}
      </a>
    </tui-breadcrumbs>
  } @else {
    <a
      iconStart="@tui.chevron-left"
      tuiButton
      tuiSlot="left"
      type="button"
      appearance="outline-grayscale"
      size="m"
      [routerLink]="['/cosmetics/category', categoryId()]"
    >
      Назад
    </a>
  }
</header>
<main class="app-cosmetic-item-content">
  @if (breakpoint() !== "mobile") {
    <div class="app-cosmetic-item-content__img-container">
      <img [src]="data().image_link" [alt]="data().name" />
    </div>
    <div class="app-cosmetic-item-content__info">
      <div class="app-cosmetic-item-content__text-block">
        <h1 class="tui-text_body-xl tui-text_bold">
          {{ data().name }}
        </h1>
        <app-cosmetic-item-shops [data]="data().buy_links" />
      </div>
      <app-cosmetic-item-accorditions [data]="data()" />
    </div>
  } @else {
    <h1 class="tui-text_body-xl tui-text_bold">{{ data().name }}</h1>
    <div class="app-cosmetic-item-content__img-container">
      <img [src]="data().image_link" [alt]="data().name" />
    </div>
    <app-cosmetic-item-shops [data]="data().buy_links" />
    <app-cosmetic-item-accorditions [data]="data()" />
  }
</main>
