@if (isServer()) {
  <tui-block-status>
    <tui-loader size="xl" tuiSlot="top" [loading]="true" />
    <h4 [style.font]="'var(--tui-typography-heading-h5)'">
      Загружаем страницу
    </h4>
    <p>Это может занять несколько секунд</p>
  </tui-block-status>
} @else {
  <app-header />

  <main>
    <header tuiHeader>
      <h1 tuiTitle>Панель управления</h1>
    </header>

    <tui-tabs tuiFade>
      <button iconStart="@tui.store" tuiTab routerLink="cosmetics">
        Косметика
      </button>
    </tui-tabs>

    <router-outlet />
  </main>
}
