@if (isServer()) {
  <tui-block-status>
    <tui-loader size="xl" tuiSlot="top" [loading]="true" />
    <h4 [style.font]="'var(--tui-typography-heading-h5)'">
      Загружаем страницу
    </h4>
    <p>Это может занять несколько секунд</p>
  </tui-block-status>
} @else {
  <app-header>
    <tui-tabs tuiFade [style.margin-bottom.px]="-1" [style.box-shadow]="'none'">
      <a tuiTab routerLink="" routerLinkActive>Информация</a>
      <a tuiTab routerLink="cosmetics" routerLinkActive>Косметика</a>
      <a tuiTab routerLink="partners" routerLinkActive>Партнёры</a>
      <a tuiTab routerLink="users" routerLinkActive>Пользователи</a>
    </tui-tabs>
  </app-header>

  <main>
    <router-outlet />
  </main>
}
