@import "@taiga-ui/core/styles/taiga-ui-local.less";

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  @media @tui-mobile {
    grid-template-columns: 1fr;
  }
}

.quality-product {
  text-wrap-style: balance;

  h2 {
    text-align: center;
  }
}
