<section aria-labelledby="qualityProductHeading" class="quality-product">
  <h2 id="qualityProductHeading" class="tui-space_top-0 tui-space_bottom-12">
    Качественная продукция
  </h2>

  <div class="cards">
    <div tuiAppearance="floating" tuiCardLarge>
      <header tuiHeader>
        <h3 tuiTitle>Работаем больше 85 лет</h3>

        <aside tuiAccessories>
          <tui-avatar appearance="primary" src="@tui.gift" />
        </aside>
      </header>

      <section>
        Международный центр медицинской пиявки был основан в 1937 году
      </section>
    </div>

    <div tuiAppearance="floating" tuiCardLarge>
      <header tuiHeader>
        <h3 tuiTitle>Cтандарты GMP</h3>

        <aside tuiAccessories>
          <tui-avatar appearance="primary" src="@tui.lock" />
        </aside>
      </header>

      <section>
        При центре функционирует аккредитованная лаборатория отдела контроля
        качества
      </section>
    </div>
  </div>
</section>
