<button
  tuiIconButton
  appearance="icon"
  [iconStart]="open() ? '@tui.x' : '@tui.menu'"
  size="m"
  type="button"
  (click)="open.update(open => !open)"
>
  {{ open() ? "Закрыть навигацию" : "Открыть навигацию" }}
</button>

<tui-drawer *tuiPopup="open()" direction="start">
  <tui-data-list>
    <tui-opt-group label="Разделы">
      @for (item of navigationItems(); track item.routerLink) {
        <a
          #rla="routerLinkActive"
          [tuiAppearance]="rla.isActive ? 'secondary' : ''"
          tuiOption
          [routerLink]="item.routerLink"
          routerLinkActive
          [routerLinkActiveOptions]="{
            exact: item.routerLink === '/' ? true : false,
          }"
        >
          {{ item.label }}
        </a>
      }
    </tui-opt-group>
    @if (hasAdminAccess() && adminItems().length) {
      <hr />
      <tui-opt-group label="Администрация">
        @for (item of adminItems(); track item.routerLink) {
          <a
            #rla="routerLinkActive"
            [tuiAppearance]="rla.isActive ? 'secondary' : ''"
            tuiOption
            [routerLink]="item.routerLink"
            routerLinkActive
            [routerLinkActiveOptions]="{
              exact: item.routerLink === '/' ? true : false,
            }"
          >
            {{ item.label }}
          </a>
        }
      </tui-opt-group>
    }
  </tui-data-list>
</tui-drawer>
