button {
  margin-inline: 1rem -0.625rem;
}

tui-drawer {
  top: 3.75rem !important;
  opacity: 1 !important;
  border-radius: 0;
  box-shadow: none;
  inline-size: 100%;
  max-inline-size: 100dvw;
  border-top: 1px solid var(--tui-border-normal);

  header {
    box-shadow: none !important;
    padding-bottom: 0 !important;
  }

  tui-data-list {
    margin: -1rem -1.5rem;

    tui-opt-group {
      &::before,
      [tuiOption] {
        padding-inline: 1rem;
      }
    }
  }
}
