[tuiBlock] {
  align-items: center;

  [tuiTitle] {
    font: var(--tui-font-text-m) !important;
  }

  [tuiSubTitle] {
    font: var(--tui-font-text-s) !important;
    text-wrap-style: balance;
  }
}
