<form tuiForm="l" [formGroup]="form.group" (submit)="form.next()">
  <div tuiGroup orientation="vertical" [collapsed]="true">
    @for (package of packages; track package.id) {
      <label tuiBlock>
        <span tuiTitle>
          <strong>{{ package.name }}</strong>
          <span tuiSubtitle>{{ package.description }}</span>
        </span>
        <input
          formControlName="package"
          tuiRadio
          type="radio"
          [value]="package.id"
        />
      </label>
    }
  </div>

  <!-- <p tuiAppearance="action-grayscale" class="tui-space_bottom-1">
    Стоимость упаковок уточняйте у менеджера.
  </p> -->
</form>
