<form tuiForm="l" [formGroup]="form.group">
  <div
    tuiNotification
    [appearance]="form.count < leechOrderMinCount ? 'warning' : 'positive'"
  >
    <span i18n>Заказ от</span>{{ " " }}<strong>{{ leechOrderMinCount }}</strong
    ><span i18n> шт.</span>
  </div>

  <ng-container formGroupName="leech">
    @for (item of items; track item.title) {
      <div tuiCell>
        <div tuiTitle>
          <strong>{{ item.title }}</strong>
          <div tuiSubtitle>
            <app-leech-price [price]="item.price" />
            <span>
              @if (item.sizes.min && item.sizes.max) {
                <span i18n>от </span><app-leech-size [size]="item.sizes.min" />
                <span i18n>до </span><app-leech-size [size]="item.sizes.max" />
              } @else if (item.sizes.max) {
                <span i18n>до </span><app-leech-size [size]="item.sizes.max" />
              } @else if (item.sizes.min) {
                <span i18n>от </span><app-leech-size [size]="item.sizes.min" />
              }
            </span>
          </div>
        </div>
        <tui-textfield [tuiTextfieldCleaner]="false" [style.width.rem]="10">
          <input
            i18n-postfix
            postfix=" шт."
            tuiInputNumber
            [max]="1000"
            [min]="0"
            [step]="1"
            [formControlName]="item.formControlName"
          />
        </tui-textfield>
      </div>
    }
  </ng-container>

  <div tuiHeader="body-m">
    <strong i18n tuiTitle tuiAppearance="flat-grayscale">Итого:</strong>
    <p
      tuiAccessories
      tuiAppearance="action-grayscale"
      class="tui-space_top-0 tui-space_bottom-0"
    >
      <span>
        <strong tuiAppearance="flat-grayscale">{{ form.count }}</strong
        ><span i18n> шт. за</span>
        <strong tuiAppearance="flat-grayscale">
          {{ form.price | tuiFormatNumber }}
        </strong>
        {{ "RUB" | tuiCurrency }}
      </span>
    </p>
  </div>
</form>
