<form tuiForm="l" [formGroup]="form.group" (submit)="form.submit()">
  <tui-textfield>
    <label tuiLabel>ФИО</label>
    <input
      formControlName="name"
      placeholder="Фамилия Имя Отчество"
      tuiTextfield
    />
  </tui-textfield>
  <tui-error formControlName="name" [error]="[] | tuiFieldError | async" />

  <tui-textfield>
    <label tuiLabel>Номер телефона</label>
    <input
      formControlName="phone"
      placeholder="+7 (999) 999-99-99"
      tuiTextfield
      [maskito]="phoneMaskito"
    />
  </tui-textfield>
  <tui-error formControlName="phone" [error]="[] | tuiFieldError | async" />

  <tui-textfield>
    <label tuiLabel>Электронная почта</label>
    <input
      formControlName="email"
      placeholder="example@yandex.ru"
      tuiTextfield
    />
  </tui-textfield>
  <tui-error formControlName="email" [error]="[] | tuiFieldError | async" />

  <tui-textfield>
    <label tuiLabel>Адрес</label>
    <input
      formControlName="address"
      placeholder="Россия, Московская область, Москва, ул. Ленина, д. 1, кв. 10"
      tuiTextfield
    />
  </tui-textfield>
  <tui-error formControlName="address" [error]="[] | tuiFieldError | async" />

  <tui-textfield>
    <label tuiLabel>Комментарии</label>
    <textarea
      formControlName="comment"
      placeholder="Оставьте пометки к заказу…"
      tuiTextarea
      [min]="3"
      [max]="6"
      [limit]="512"
    ></textarea>
  </tui-textfield>
  <tui-error formControlName="comment" [error]="[] | tuiFieldError | async" />

  <div>
    <label>
      <input
        size="s"
        tuiCheckbox
        type="checkbox"
        formControlName="agreement"
        size="m"
      />
      <span>
        Оформляя заказ, я даю согласие на обработку моих персональных данных и
        соглашаюсь с <a tuiLink href="#">политикой конфиденциальности</a>
      </span>
    </label>
  </div>
  <tui-error formControlName="agreement" [error]="[] | tuiFieldError | async" />

  <hr />

  <div>
    <p
      tuiAppearance="action-grayscale"
      class="tui-space_top-0 tui-space_bottom-2"
    >
      Обработка заказов осуществляется с понедельника по пятницу с 08:30 до
      17:00.
    </p>
    <p
      tuiAppearance="action-grayscale"
      class="tui-space_top-0 tui-space_bottom-0"
    >
      Подтверждение и уточнение заказа производится менеджером по телефону или
      электронной почте.
    </p>
  </div>
</form>
