<tui-textfield iconStart="@tui.search">
  <label tuiLabel>Поиск</label>
  <input
    placeholder="I am placeholder"
    tuiTextfield
    [formControl]="searchControl"
  />
</tui-textfield>

<tui-textfield tuiChevron [stringify]="stringify">
  <input tuiComboBox [formControl]="categoryControl" [matcher]="matcher" />

  <tui-data-list *tuiTextfieldDropdown>
    @for (category of store.categories(); track category.id) {
      <button new tuiOption type="button" [value]="category.id">
        {{ category.name }}
      </button>
    }
  </tui-data-list>
</tui-textfield>
