@import "@taiga-ui/styles/utils.less";

:host {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100dvh;
  flex: 1;
  padding: 0.5rem;
  box-sizing: border-box;
  background: var(--tui-background-base);

  @media not @tui-mobile {
    background: var(--tui-background-base-alt);
  }
}
