:root {
  --tui-text-action: #99932d;
  --app-max-width: 1024px;
}

html,
body {
  // Чтобы не приближелало при двойном клике на мобильных устройствах
  touch-action: manipulation;
}

.t-root-content {
  min-height: 100dvh;
  background-color: var(--tui-background-base-alt);
}
