:root {
  --tui-text-action: #706900;
  --tui-background-accent-1: #aaa334;
  --tui-background-accent-1-hover: #b1a936;
  --tui-background-accent-1-pressed: #a39c33;
  --app-max-width: 1024px;
  --app-header-z-index: 1;
}

html,
body {
  // Чтобы не приближелало при двойном клике на мобильных устройствах
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

tui-root {
  --tui-duration: 150ms !important;
}

.t-root-content {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: var(--tui-background-base-alt);
}
