:root {
  --tui-font-heading:
    "Manrope Variable", -apple-system, "BlinkMacSystemFont", system-ui,
    "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
  --tui-font-text:
    "Manrope Variable", -apple-system, "BlinkMacSystemFont", system-ui,
    "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
  --tui-text-action: #706900;
  --tui-text-action-hover: #a09500;
  --tui-background-accent-1: #706900;
  --tui-background-accent-1-hover: #a09500;
  --tui-background-accent-1-pressed: #5f5900;
  --app-max-width: 1024px;
  --app-header-z-index: 1;
}

html,
body {
  touch-action: manipulation; /* Чтобы не приближелало при двойном клике на мобильных устройствах */
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

tui-root {
  --tui-duration: 150ms !important; /* Переопределяет инлайн-стили на <tui-root /> */
}

.t-root-content {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: var(--tui-background-base-alt);
}
