<tui-accordion>
  <ng-container>
    <button tuiAccordion="true">Характеристики</button>
    <tui-expand>
      <div tuiCell>
        <div tuiTitle>Объём</div>
        <span class="tui-text_bold">{{ data().features.size }} мл.</span>
      </div>
      <hr />
      <div tuiCell>
        <div tuiTitle>Раздел</div>
        <span class="tui-text_bold">{{ data().features.category }}</span>
      </div>
      <hr />
    </tui-expand>
  </ng-container>
</tui-accordion>

<tui-accordion>
  <ng-container>
    <button tuiAccordion>Описание</button>
    <tui-expand>{{ data().description }}</tui-expand>
  </ng-container>
  <ng-container>
    <button tuiAccordion>Способ применения</button>
    <tui-expand>{{ data().guide }}</tui-expand>
  </ng-container>
</tui-accordion>
