<form id="category-edit-form" tuiForm [formGroup]="form" (ngSubmit)="submit()">
  <tui-textfield>
    <input
      tuiInput
      [readOnly]="isLoading()"
      tuiAutoFocus
      placeholder="Название"
      formControlName="name"
    />
  </tui-textfield>
  <tui-error [formControl]="form.controls.name" />

  <label tuiInputFiles>
    <input tuiInputFiles accept="image/*" formControlName="file" />
    <ng-template let-dragged>
      @if (dragged) {
        <div appearance="secondary" size="l" tuiAvatar="@tui.droplet"></div>
        <div>Отпустите для загрузки</div>
      } @else {
        @if (previewUrl(); as url) {
          <img [src]="url" alt="Превью" class="preview" />
        } @else {
          <div
            appearance="secondary"
            size="l"
            tuiAvatar="@tui.cloud-upload"
          ></div>
        }
        <div>
          Перетащите изображение или <a tuiLink>нажмите для загрузки</a>
        </div>
        <div class="types">PNG, JPG, JPEG</div>
      }
    </ng-template>
  </label>

  <tui-error [error]="error()" />
</form>

<footer>
  <button
    appearance="secondary"
    tuiButton
    type="button"
    [disabled]="isLoading()"
    (click)="context.$implicit.complete()"
  >
    Закрыть
  </button>
  <button
    form="category-edit-form"
    tuiButton
    tuiButtonLoading
    type="submit"
    [loading]="isLoading()"
  >
    {{ isEdit ? "Сохранить" : "Создать" }}
  </button>
</footer>
