<form id="category-edit-form" tuiForm [formGroup]="form" (ngSubmit)="submit()">
  <tui-textfield>
    <input
      tuiInput
      [readOnly]="isLoading()"
      tuiAutoFocus
      placeholder="Название"
      i18n-placeholder
      formControlName="name"
    />
  </tui-textfield>
  <tui-error [formControl]="form.controls.name" />

  <label tuiInputFiles>
    <input tuiInputFiles accept="image/*" formControlName="file" />
    <ng-template let-dragged>
      @if (dragged) {
        <div appearance="secondary" size="l" tuiAvatar="@tui.droplet"></div>
        <div i18n>Отпустите для загрузки</div>
      } @else {
        @if (previewUrl(); as url) {
          <img [src]="url" alt="Превью" i18n-alt class="preview" />
        } @else {
          <div
            appearance="secondary"
            size="l"
            tuiAvatar="@tui.cloud-upload"
          ></div>
        }
        <div>
          <span i18n>Перетащите изображение или</span>
          {{ " " }}
          <a tuiLink i18n>нажмите для загрузки</a>
        </div>
        <div class="types">PNG, JPG, JPEG</div>
      }
    </ng-template>
  </label>

  <tui-error [error]="error()" />
</form>

<footer>
  <button
    appearance="secondary"
    tuiButton
    type="button"
    [disabled]="isLoading()"
    (click)="context.$implicit.complete()"
  >
    <span i18n>Закрыть</span>
  </button>
  <button
    form="category-edit-form"
    tuiButton
    tuiButtonLoading
    type="submit"
    [loading]="isLoading()"
  >
    {{ isEdit ? saveLabel : createLabel }}
  </button>
</footer>
