@import "@taiga-ui/styles/utils.less";

:host {
  a {
    display: flex !important;
    flex-direction: row !important;
  }

  .left {
    margin-top: 0 !important;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    min-width: 0;
  }

  .heading {
    font: var(--tui-typography-heading-h5);
    margin: 0;
    min-width: 0;

    @media @tui-mobile {
      font: var(--tui-typography-heading-h6);
    }
  }

  img {
    object-fit: cover;
    object-position: center;
    min-width: 0;
    max-width: 12rem;
    aspect-ratio: 4 / 5;
  }
}
